
.flexbox{
    &--container {
        border: 2px dashed black;
        display: flex;
        height: 650px;
        flex-direction: column;
        padding: 5px;
    }
    
    .flex-item {
        height: 50px;
        width: 50px;
        border: red 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flex-item:nth-child(even) {
        align-self: end;
    }
   
}
